<h1>Welcome to Dogs Page</h1>

<div class="card-columns">

    {{#each images}}

        <div class="card">
            <img src="{{this}}" class="card-img-top my-img" alt="...">
            <button type="button" class="btn btn-success my-btn">Share</button>
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>

    {{/each}}

</div>

