body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container {
  display: flex;
  flex-flow: row wrap;
  max-height: 1200px;
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
}

.my-btn {
  position: absolute;
  top: 15px;
  right: 30px;
}

/* .card {
  flex: auto;
  height: 250px;
} */